<form class="signup-form">
    <div>
        <label for="name-signup">name:</label>
        <input type="text" id="name-signup" />
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit" class="bg-blue-500 hover: bg-blue-700 text-white font-bold py-2 px-4 rounded">signup</button>
    </div>
</form>

<script src="/javascript/signup.js"></script>